body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#talentList {
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 70%;
  margin: 0 auto;
  border-top: 1px dotted #CCC;
  list-style-type:none;
  height:100%;
  margin: 0;
  padding: 0;
}

      #talentList li {
          width: 100%;
          min-height:25%;
          max-height: 100%;
          padding: 0 20px;
          background: #EEE;
          padding-bottom: 10px;
          border-bottom: 1px dotted #CCC;
          cursor:pointer;
      }

  #talentList h2 {
      margin: 0;
      padding: 0;
      font-size: 1.2em;
      padding-bottom: 5px;
      padding-top: 20px;
      font-family: Arial, Helvetica, sans-serif;
      color: #BF5841;
      border-bottom: 1px dotted #CCC;
      margin-bottom: 10px;
  }

  #talentList img {
    float:left;
    height:80px;
      margin-right: 10px;
      border-radius: 10px;
  }

  #talentList img:after {
    content: "";
    display: table;
    clear: both;
}

div.card {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.card img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.cardRadio{
  margin:auto;
  margin-bottom: 15px;
}
